.outerDivProgressBar {
    width: 100%;
    background-color: #b8b8b8;
    border-radius: 5px;
    text-align: center;
    min-height: 2px;
}

.outerDivProgressBar span {
    color: white;
    font-weight: bold;
    position: relative;
    height: 0;
    display: block;
}

.innerDivProgressBar {
    width: 0;
    border-radius: 5px;
    background-color: #5790d5;
    width: 100%;
    height: 2px;
}
#progressNotification {
    border: 1px solid #b8b8b8;
    background: #f7f7f7;
    width:100%;
    min-height:20px;
    text-align: center;
}
#progressNotification span {
    color: #b8b8b8;
    text-align: center;
}
